body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}
button{
    height: 50px;
    border: none;
    border-radius: 10px;
}
.container{
    background-color: black;
    color : white;
    margin: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
}

.moniter{
    grid-column: 1/4;
    text-align: right;
    padding: 5px;
    font-size: 25px;
}

.clear{
    background-color: #a4b0be;
    color: white;
}

.digit{
    background-color: #3d3d3d;
    color: white;
}

.calc{
    background-color: #ffa502;
    color: white;
}

.zero{
    grid-column: 1/3;
}